*, html,body {
        margin: 0px;
        padding: 0px;
}

body{
    background-color: #fff;
}

a{
    text-decoration:none;  
}

#inicio:hover{
   color: #f00;
}

#page {
	margin: 0 auto;
	width: 700px;
	background-color: #cdcdcd;
    margin-top: 60px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px #000;
}

#headerRight{
    text-align: right;
}

#content{
    border-top: 1px solid #000;
	clear: both;
	margin: 0px 10px 0px 10px;
	padding: 20px;
}

#inscripcion{
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px 5px 5px 5px;
    font-size: 25px;
}

#mostrar{
    position: absolute;
    margin-left: 390px;
    margin-top: -35px;
    border-radius: 5px 5px 5px 5px;
    font-size: 25px;
}

#borrar{   
    position: absolute;
    margin-left: 390px;
    margin-top: -35px;
    border-radius: 5px 5px 5px 5px;
    font-size: 25px;
}

#modificar{
    position: relative;
    margin-left: 50px;
    margin-top: 150px;
    border-radius: 5px 5px 5px 5px;
    font-size: 25px;
    
}

#sesion{
    padding-right: 10px;
}

#tabla{
    padding-right: 30px;
}
