@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="@Href("~/css/Style.css")" rel="stylesheet" />
        <meta charset="utf-8" />
        <title>Torneo</title>
    </head>
    <body>
        <a href="~/Inscripcion.cshtml"><input type="button" id="inscripcion" value="inscribirse"/></a></br>
        <a href="~/Mostrar.cshtml"><input type="button" id="mostrar" value="mostar jugadores"/></a></br>        
        <a href="~/Modificar.cshtml"><input type="button" id="modificar" value="editar datos"/></a></br>
        <a href="~/Borrar.cshtml"><input type="button" id="borrar" value="eliminar jugador"/></a>
    </body>
</html>
