@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
    Page.Title = "Eliminar Jugador";
}
<h2>@Page.Title</h2>
<p>El jugador que intentas eliminar no existe</p>
<a id="inicio" href="~/default">Volver al Inicio</a>
